HELP.md

#Createdbyhttps://www.gitignore.io/api/java,gradle,windows,intellij+all
#Editathttps://www.gitignore.io/?templates=java,gradle,windows,intellij+all

###Intellij+all###
#CoversJetBrainsIDEs:IntelliJ,RubyMine,PhpStorm,AppCode,PyCharm,CLion,AndroidStudioandWebStorm
#Reference:https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

#User-specificstuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

#Generatedfiles
.idea/**/contentModel.xml

#Sensitiveorhigh-churnfiles
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

#Gradle
.idea/**/gradle.xml
.idea/**/libraries

#GradleandMavenwithauto-import
#WhenusingGradleorMavenwithauto-import,youshouldexcludemodulefiles,
#sincetheywillberecreated,andmaycausechurn.Uncommentifusing
#auto-import.
#.idea/modules.xml
#.idea/*.iml
#.idea/modules

#CMake
cmake-build-*/

#MongoExplorerplugin
.idea/**/mongoSettings.xml

#File-basedprojectformat
*.iws

#IntelliJ
out/

#mpeltonen/sbt-ideaplugin
.idea_modules/

#JIRAplugin
atlassian-ide-plugin.xml

#CursiveClojureplugin
.idea/replstate.xml

#Crashlyticsplugin(forAndroidStudioandIntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

#Editor-basedRestClient
.idea/httpRequests

#Androidstudio3.1+serializedcachefile
.idea/caches/build_file_checksums.ser

#JetBrainstemplates
**___jb_tmp___

###Intellij+allPatch###
#Ignoresthewhole.ideafolderandall.imlfiles
#Seehttps://github.com/joeblau/gitignore.io/issues/186andhttps://github.com/joeblau/gitignore.io/issues/360

.idea/

#Reason:https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

*.iml
modules.xml
.idea/misc.xml
*.ipr

#Sonarlintplugin
.idea/sonarlint

###Java###
#Compiledclassfile
*.class

#Logfile
*.log

#BlueJfiles
*.ctxt

#MobileToolsforJava(J2ME)
.mtj.tmp/

#PackageFiles#
#*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#virtualmachinecrashlogs,seehttp://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

###Windows###
#Windowsthumbnailcachefiles
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

#Dumpfile
*.stackdump

#Folderconfigfile
[Dd]esktop.ini

#RecycleBinusedonfileshares
$RECYCLE.BIN/

#WindowsInstallerfiles
*.cab
*.msi
*.msix
*.msm
*.msp

#Windowsshortcuts
*.lnk

###Gradle###
.gradle
build/

#IgnoreGradleGUIconfig
gradle-app.setting

#AvoidignoringGradlewrapperjarfile(.jarfilesareusuallyignored)
!gradle-wrapper.jar

#Cacheofproject
.gradletasknamecache

##Workaroundhttps://youtrack.jetbrains.com/issue/IDEA-116898
#gradle/wrapper/gradle-wrapper.properties

###GradlePatch###
**/build/

#Endofhttps://www.gitignore.io/api/java,gradle,windows,intellij+all
/sparrow/
.sparrow_lock
/LOG_PATH_IS_UNDEFINED/
